parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method IgniterLabs\\KitchenDisplay\\Models\\KitchenDisplay\:\:locations\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Database/Factories/KitchenDisplayFactory.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<Illuminate\\Database\\Eloquent\\Model\>\:\:afterCreating\(\) expects Closure\(Illuminate\\Database\\Eloquent\\Model\)\: mixed, Closure\(IgniterLabs\\KitchenDisplay\\Models\\KitchenDisplay\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: src/Database/Factories/KitchenDisplayFactory.php

		-
			message: '#^Access to an undefined property IgniterLabs\\KitchenDisplay\\Http\\Controllers\\KitchenDisplays\:\:\$primaryAlias\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/KitchenDisplays.php

		-
			message: '#^Access to an undefined property IgniterLabs\\KitchenDisplay\\Models\\KitchenDisplay\:\:\$locations\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/KitchenDisplays.php

		-
			message: '#^Access to an undefined property Igniter\\Cart\\Models\\Order\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/KitchenDisplays.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: IgniterLabs\\KitchenDisplay\\Data\\BoardItem, Closure\(Igniter\\Cart\\Models\\Order\)\: IgniterLabs\\KitchenDisplay\\Data\\BoardItem given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/KitchenDisplays.php

		-
			message: '#^Relation ''menus'' is not found in Igniter\\Cart\\Models\\Order model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Controllers/KitchenDisplays.php

		-
			message: '#^Variable \$alias on left side of \?\?\= is never defined\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Http/Controllers/KitchenDisplays.php

		-
			message: '#^Access to an undefined property IgniterLabs\\KitchenDisplay\\Models\\KitchenDisplay\:\:\$hidden_card_fields\.$#'
			identifier: property.notFound
			count: 1
			path: src/Widgets/KitchenDisplay.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Eloquent\\Model\:\:\$order_time\.$#'
			identifier: property.notFound
			count: 2
			path: src/Widgets/KitchenDisplay.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Eloquent\\Model\:\:updateOrderStatus\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Widgets/KitchenDisplay.php
